*{
  margin:0;
  padding:0;
}



.imageContainer {
  height: 400px; 
  color: aliceblue;
  white-space: nowrap;
  max-width: 100%;
  word-wrap: break-word;
  padding:0 15rem;
  /* background-color: #f8f9fa25; */
}

.joke{
  text-wrap:wrap;
  text-align: center;
  font-size: 25px;
}

h1{
  font-size: 30px;
  color:aliceblue;
  font-family: "Fira Code", monospace;
}

.programming{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  color: #faf089;
}

#title{
  margin-top: 2rem;
  margin-left: 2rem;
}

.generate{
  padding: 10px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 4px #FFCC00;
  color: #0e1111;
  background-color: #faf089;
  transition: transform 0.15s ease-in;
}

.generate:hover{
  transform: scale(1.1);
}

.copy{
  position:absolute;
  left:100rem;
  bottom:10rem;
  z-index: 4;
}

.quotes{
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}